*{
    margin: 0;  
    padding: 0;
box-sizing: border-box;
}
/* #header zalando */
header{
    background-color: #FF6900;
    margin: 0 auto;
    height: 66px;
}
.conteiner{
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
   
}
.row{
    display: flex;
    flex-wrap: wrap;

}
a{
cursor: pointer;
text-decoration-line: none;
color: white;
margin: 0 1rem;
}
.col_1{
    
    width: calc((100% / 3) );
    display: flex;
    justify-content: start;
    padding-top: 5px ;
}

.col_2{
    text-align: center;
    width: calc((100% / 3) );
  
}
.logo{
    height: 30px;
}
.col_3{
    width: calc((100% / 3) );
    display: flex;
    justify-content: end;
    padding-top: 0.5rem ;

}
.symbol{
    height: 14px;
    margin-top: 2px !important;
}
/* #endheader zalando */

.shop_row{
    display: flex;
    flex-wrap: wrap;
    position: relative;

}
.prodotto_1{
    width: calc(100% /3);
    position: relative;
}
.articolo{
    height: 400px;

}
.prodotto_1 > .sconto{
    position: absolute;
    top: 350px;
    right: 284px;
}
.prodotto_1 > .sostenibilità{
    position: absolute;
    top: 350px;
    right: 200px;
}